In [1]:
import pandas as pd

# File to Load 
vine_data_to_load = "C:/Users/raney/OneDrive/Desktop/Analysis_Projects/Amazon_Vine_Analysis/Resources/vine_table.csv"


# Read the City and Ride Data
vine_data_df = pd.read_csv(vine_data_to_load)
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R215C9BDXTDQOW,4.0,0.0,0.0,N,Y
1,R1DTPUV1J57YHA,5.0,0.0,0.0,N,Y
2,RFAZK5EWKJWOU,5.0,0.0,0.0,N,Y
3,R2XT8X0O0WS1AL,5.0,0.0,0.0,N,Y
4,R14GRNANKO2Y2J,5.0,0.0,0.0,N,Y

In [2]:
# Create a vine DataFrame for total_votes >= 20
vine_GT_20_df = vine_data_df[vine_data_df["total_votes"] >= 20]
vine_GT_20_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
696,R3F8P56ZDJ6PI8,4.0,106.0,115.0,N,Y
717,R2QYLQEK9UAJQ6,5.0,33.0,34.0,N,Y
937,RQCC7XNYI014B,1.0,91.0,92.0,N,Y
1035,R2U8FRHRVW5D2C,5.0,23.0,23.0,N,N
1047,R3RJZC5J4VP7AT,4.0,86.0,91.0,N,N

In [10]:
# Create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
vine_GT_50_percentage_df = vine_GT_20_df[(vine_GT_20_df["helpful_votes"]/vine_GT_20_df["total_votes"] * 100) >= 50]
vine_GT_50_percentage_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
696,R3F8P56ZDJ6PI8,4.0,106.0,115.0,N,Y
717,R2QYLQEK9UAJQ6,5.0,33.0,34.0,N,Y
937,RQCC7XNYI014B,1.0,91.0,92.0,N,Y
1035,R2U8FRHRVW5D2C,5.0,23.0,23.0,N,N
1047,R3RJZC5J4VP7AT,4.0,86.0,91.0,N,N

In [11]:
# Create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
vine_y_df = vine_GT_50_percentage_df[vine_GT_50_percentage_df["vine"] == 'Y']
vine_y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4983,R29V4UDSS053D8,3.0,33.0,38.0,Y,N
47803,R1I2D068WC37PA,3.0,32.0,37.0,Y,N
204900,R13W2U74F67QED,5.0,62.0,76.0,Y,N
208432,R2QI37XFOBKUGD,4.0,24.0,33.0,Y,N
226580,R19F60BB2DNCKN,5.0,170.0,174.0,Y,N

In [12]:
# Create a new DataFrame or table that retrieves all the rows where a review was written as not part of the Vine program (paid), vine == 'N'.
vine_n_df = vine_GT_50_percentage_df[vine_GT_50_percentage_df["vine"] == 'N']
vine_n_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y

In [13]:
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for paid 

total_y_count = len(vine_y_df.index)
total_y_5_star_count = len(vine_y_df[vine_y_df["star_rating"] == 5].index)
total_y_5_star_percentage = total_y_5_star_count/total_y_count * 100

In [14]:
print("Paid Review Analysis \n")
print("Total Number of Reviews: " + str(total_y_count))
print("Total Number of 5 Star Reviews: " + str(total_y_5_star_count))
print(f"Percentage of 5 Star Reviews: {total_y_5_star_percentage:.2f}%")

Paid Review Analysis

Total Number of Reviews: 266
Total Number of 5 Star Reviews: 125
Percentage of 5 Star Reviews: 46.99%

In [15]:
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for un paid 

total_n_count = len(vine_n_df.index)
total_n_5_star_count = len(vine_n_df[vine_n_df["star_rating"] == 5].index)
total_n_5_star_percentage = total_n_5_star_count/total_n_count * 100

In [16]:
print("UnPaid Review Analysis \n")
print("Total Number of Reviews:" + str(total_n_count))
print("Total Number of 5 Star Reviews:" + str(total_n_5_star_count))
print(f"Percentage of 5 Star Reviews: {total_n_5_star_percentage:.2f}%")

UnPaid Review Analysis

Total Number of Reviews:38829
Total Number of 5 Star Reviews:18246
Percentage of 5 Star Reviews: 46.99%